#page-create-point {
    width: 90%;
    max-width: 1100px;
    /*aliamento pelo lado de fora */
    margin: 0 auto; 
}

#page-create-point header {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}    

#page-create-point header a {
    color: var(--title-color);
    font-weight: bolder;

    display: flex;
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../icones/arrow-left.svg');
 
    display: flex;

    width: 20px;
    height: 25px;

}

form {
    background-color: white;

    margin: 80px auto;
    padding: 70px;

    border-radius: 16px;
    max-width: 750px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;

    border: 0;
}

form legend {
    margin-bottom: 40px;

    display:flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
form legend span {
    font-size: 14px;
    color : var(--title-color);
}

form legend h2 {
    font-size: 26px;
}

form .field{
    flex: 1;
    display: flex;
    flex-direction: column;

    margin-bottom: 26px;
}

form .field-group{
    display: flex;
}

form input, 
form select {
    background-color: #f0f0f5;

    border: 0;
    padding: 16px 26px;
    font-size: 20px;

    border-radius: 14px;
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 16px;
    margin-bottom: 8px;
}

form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;

    background-color: var(--primary-color);
    border-radius : 12px;

    color: white;
    font-size: bold;
    font-size: 16px;

    margin-top: 40px;  

    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

/* Itéms de Coleta*/


.items-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.items-grid li {
    background-color: #e1faec;
    list-style-type: none;

    border: 2px solid #f5f5f5;
    border-radius: 10px;

    height: 180px;

    padding: 32px 24px 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;
    cursor: pointer; 
}

.items-grid li span {
    margin-top: 12px;
    flex: 1;

     display: flex;
     align-items: center;

     color: var(--title-color);
}


.items-grid li.selected {
    background-color: #34cb79;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none;
}